# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js

# testing
/frontend/coverage

# production
/frontend/build

# misc
/frontend/.DS_Store
/frontend/.env
/frontend/.env.development
/frontend/.env.test
/frontend/.env.production
/frontend/.env.test.local
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

/frontend/.npm-debug.log*
/frontend/.yarn-debug.log*
/frontend/.yarn-error.log*

/frontend/.package-lock.json # اگر از npm استفاده می‌کنید
/frontend/.yarn.lock        # اگر از Yarn استفاده می‌کنید

# ******backend gitignore******
/backend/node_modules
/backend/.pnp
/backend/package-lock.json
/backend/.yarn.lock
/backend/.env
/backend/.env.development
/backend/.env.test
/backend/.env.production
/backend/.env.test.local
/backend/.env.local
/backend/.env.development.local
/backend/.env.production.local
/backend/.DS_Store
/backend/.npm-debug.log*
/backend/.yarn-debug.log*
/backend/.yarn-error.log*